.app {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  color: #333;
  height: var(--header);
  font-size: 3em;
}

.room-selector {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  padding: 0 1rem;
  margin: 1rem 0;
}

.room-selector h2 {
  margin-right: 1rem;
}

.full {
  flex-grow: 1;
}

input {
  margin: 0 auto;
  width: 100%;
  max-width: 100vw;
  padding: 0.25rem 0.5rem;
  font-size: 1.2em;
  border: none;
  border-radius: 2px;
}

button {
  apperance: none;
  border: none;
  background-color: var(--secondary);
  height: 100%;
  font-size: 1.1em;
  cursor: pointer;
}

.new-chat-message {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 100%;
  height: var(--input);
}

.new-chat-message form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--primary);
}

.new-chat-message button {
  margin-left: 0.5rem;
  padding: 0.25rem 1rem;
}

.like-button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1em;

  transition: transform 150ms ease-in-out;
}

.like-button:hover .heart {
  transform: scale(1.2)
}

.like-button:active .heart {
  transform: scale(1.1)
}

.heart {
  color: red;
  font-size: 3em;
  margin-left: 0.5rem;
}

.messages {
  padding-bottom: 2rem;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.status {
  padding: 0 1rem;
}

.center {
  max-width: 700px;
  margin: 0 auto;
}

.date {
  color: grey;
  font-size: 0.8em;
  min-width: 10rem;
  display: inline-block;
  padding-right: 2rem;
}

.text {
  flex-grow: 1;
}

.emoji {
  padding-right: 1rem;
  font-size: 1.5em;
}

.buttons {
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.top-bar {
  display: flex;
  padding: 1rem;
  padding-top: 0;

  input {
    margin-left: 0.5rem;
  }
}

.pinned-message {
  padding: 1rem;
  white-space: pre;
  font-family: monospace;
  font-size: 1.3em;
  min-height: 200px;
}
